<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Tenancy">
            <directory>tests/Feature/Tenancy</directory>
            <directory>tests/Feature/Accounting</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="RUN_TENANCY_INTEGRATION_TESTS" value="true"/>
        <env name="PLATFORM_DB_DATABASE" value="sidbm_platform_test"/>
        <env name="TENANT_DB_DATABASE" value="sidbm_shard_test"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
